@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

body .bg-body-tertiary {
  background-color: #537459 !important;
  color: #d1f1d7 !important;
  font-family: 'Montserrat';
}
body .me-2 {
  background-color: #29402e !important;
  color: #d1f1d7 !important;
  font-family: 'Montserrat';
}
body .me-3 {
  background-color: #29402e !important;
  font-family: 'Montserrat';
}
/* nav {
    background-color: #2f2f2f;
    line-height: 3;
    max-height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}*/
  

/* .search {
    display: flex;
    position: absolute; 
    top: 50%; 
    right: 10%; 
    transform: translateY(-50%);
}

.search-box {
  width: 300px;
  height: 35px;
  background: #f5f7f9;
  border-radius: 20px;
}

.line {
  border-bottom: 3px solid rgb(187, 187, 187);
  margin: 0 2%; 
}


.logo {
    flex: 1;
    color: #f5f7f9;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size:160%;
}

.text {
  color: #ebebeb;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.button {
    text-decoration: none;
    margin: 2% 10% 5%;
    border-radius: 25px;
    width: 120px;
    background-color: #5ea3b0;
    border-color: #5ea3b0;
    color: #ffffff;
  }

.button-search {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    margin: 0 0 0 5%;
    width: 100px;
  } */